<div class="card mb-5 <%= @time.zero? ? "bg-danger" : "border-primary bg-dark text-white" %> col-6">
  <div class="card-body">
    <div class="card-title">
      <span id="travel-title" class="h5"><%= @time.zero? ? "ERROR" : "Desde #{@from} hasta #{@to}" %></span>
      <button type="button" id="close_results" class="btn-close btn-close-white float-end" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="top" title="Cerrar"></button>
      <button type="button" id="copy_results" class="btn-no-style text-light float-end me-1" aria-label="Copy" data-bs-toggle="tooltip" data-bs-placement="top" title="Copiar resultado">
        <i class="bi bi-clipboard2-fill"></i>
      </button>
    </div>
    <div id="travel-text" class="card-text">

      <% count = [@size, 1].min %>
      <% @html = "<p>Un #{Army.model_name.human(:count => count).downcase} " %>
      <% @html += ((@size == 0) ? "" : " de tamaño #{@size}") %>
      <% @html += " necesita <span class='badge fs-6 bg-success'>#{@travel_time}</span> para ir desde #{@from} hasta #{@to}</p>" %>
      <% @steps.each do | step | %>
        <% line = "" %>
        <% line << "<p class='ms-2'>#{step[:hex]} #{t('hexagon', count: step[:hex])} de #{step[:terrain_name].downcase}, a marcha #{step[:speed_name].downcase}" %>
        <% step[:bstacle_name].blank? ? nil : line << ", #{step[:obstacle_name].downcase}," %>
        <% line << " en #{step[:step_time]} #{t('hours', count: step[:step_time])}</p>" %>
        <% @html += line %>
      <% end %>

      <%= @time.zero? ? "Por favor, rellena todos los datos necesarios." : @html.html_safe %>
    </div>
  </div>
</div>
