<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title w-100" id="Title"><%= recipe&.name %></h5>
        <div class="w-100">
          <% if @current_user&.is_master? %>
            <%= link_to '', send("edit_recipe_path", recipe.id), remote: true, class: 'btn-Close bi bi-pencil-square text-white float-end' %>
          <% end %>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="recipe_card_<%= recipe.id.to_s %>">
          <%= render 'card', recipe: recipe %>
        </div>
      </div>
    </div>
  </div>
</div>
