<!-- Scaffold for basic tools -->

<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<% if @current_user&.is_master? %>
  <div class="col">
    <%= link_to send('new_family_path'), class: "btn btn-primary", remote: true do %>
      <i class="bi bi-plus-circle"></i> Crear Nueva Familia
    <% end %>
  </div>
<% end %>

<%= render "families_table" %>

<!-- Modal -->

<div id="family-content"></div>
