<% army.units.each do | unit | %>
  <span class="badge rounded-pill pill-tags pill-tags-text bg-<%= unit.colour %>">
    <i class="bi bi-<%= unit.icon %>"></i>

    <%= number_to_compact(unit.troops.to_i) %>
    <%= unit.name %>
  </span>
<% end %>
