<span class="army_strength" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="army-str-data" title="
  <div class='row'>
    <div class='fst-italic text-start col-8'>
      <i class='bi bi-'></i> WORK IN PROGRESS
    </div>
    <div class='text-end col-4'>
    </div>
  </div>
  ">
  <%= army.strength %>
</span>
