<p>Hay <strong><%= number_with_delimiter(@total_men, delimiter: ' ', separator: ',') %></strong> soldados en el mundo con una fuerza de <strong><%= number_with_delimiter(@total_strength, delimiter: ' ', separator: ',') %></strong>, <strong><%= number_with_delimiter(@total_dead, delimiter: ' ', separator: ',') %></strong> hombres han perecido en el conflicto, un <strong><%= @percent_dead %>%</strong> de la población.</p>
<% if faction %>
  <p class="card-text">Dispones de XXXX hombres con una fuerza de YYYY.</p>
  <p>COMPOSITION</p>
<% end %>
<p class="card-text">Hay <span id="men_visible"></span> hombres visibles con una fuerza de <span id="strength_visible"></span>.</p>
<p>COMPOSITION</p>
