<div class="col-md-7 col-sm-12 card bg-dark border border-success text-white my-3 me-3 faction-name">
  <div class="card-body">
    STATS
  </div>
</div>

<div class="col-md-4 col-sm-12 card bg-dark border border-success text-white my-3 me-3 faction-name">
  <div class="card-body">
    FLOTAS
  </div>
</div>
