<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<%= @options_armies %>

<div class="tool-title">
  <i class="white <%= yield(:icon) %>"></i>
  <%= yield(:title) %>
</div>

<% if @current_user&.is_master? %>
  <div class="col">
    <%= link_to new_army_path, class: "btn btn-primary", remote: true do %>
      <i class="bi bi-plus-circle"></i> Crear Nuevo Ejército
    <% end %>
  </div>
<% end %>
