<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-danger" style="background-image: url('<%= asset_path("beyond-the-wall.webp") %>'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= t('errors.' + error_type + '.title') %></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= t('errors.' + error_type + '.text') %>
      </div>
    </div>
  </div>
</div>
