<% provide(:title, '500 Internal Server Error') %>

<div class="tool-title text-center">
    <p><%= yield(:title) %></p>
    <p>El servidor ha encontrado un error inesperado, quizás son los caminantes blancos amenazando los Siete Reinos</p>
</div>