<div class="row">
  <% ["a","b"].each do | side | %>
    <div class="col-6">
      <div class="row h1 text-right ">
        <%= @battle.send("side_#{side}") %>
      </div>
      <div>
        <%= link_to t('battles.edit.add_tokens'), add_battle_tokens_path(@battle, side: side), remote: true, class: 'btn btn-danger' %>
      </div>
      Añadir ejércitos
      Tipo de movimiento
      Tipo de terreno
      Estrategia de escaramuza (sigilo/info)
      Miscelánea Sigilo
      Miscelánea Información
      Ventaja?
    </div>
  <% end %>
</div>
