<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title d-none d-sm-block">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="row my-3">
  <div class="col">
    <%= link_to t('helpers.submit.create', model: t('activerecord.models.battle', count: 1)).html_safe, send("new_battle_path"), remote: true, class: 'btn btn-primary' %>
  </div>
</div>

<%= render "battles_table" %>
