<div class="bg-<%= @outcomes[clock.outcome.to_s]['color'] %>">
  <div class="text-center">
    <span class="badge bg-primary"><%= @styles[clock.style]["name"] %></span>
  </div>
  <div>
    <% if clock.style != 'memory' %>
      <%= image_tag(clock.style + "_" + clock.size.to_s + "-" + clock.status.to_s + ".svg", class: clock.style + "-svg", style: "height: 30px", id: "clock-svg_" + clock.id.to_s) %>
    <% end %>
  </div>
</div>
