<div class="table-responsive">
  <table id="family_list" class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption><%= @tool.title %></caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col" data-sorter="false"></th>
        <th scope="col">Familia</th>
        <th scope="col" data-sorter="false">Descripcción</th>
        <th scope="col" colspan="2" data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
      <% @clocks.each do | clock | %>
        <tr id="clock_<%= clock.id.to_s %>">
          <%= render 'row', clock: clock %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
