<div class="row gx-2 gy-3">
  <% @clocks_open.each do |clock| %>
    <div id="clock_<%= clock.id.to_s %>" class="col">
      <%= render 'card', clock: clock %>
    </div>
  <% end %>
</div>

<% if @clocks_close.present? %>
  <div class="row mt-2 h2">
    Relojes cerrados
  </div>
<% end %>

<div class="row mt-2 gx-2 gy-3">
  <% @clocks_close.each do |clock| %>
    <div id="clock_<%= clock.id.to_s %>" class="col">
      <%= render 'card', clock: clock %>
    </div>
  <% end %>
</div>
