<div class="table-responsive">
  <table id="missions_list" class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption><%= @tool.title %></caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Inicio</th>
        <th scope="col">Resolución</th>
        <th scope="col">Facción</th>
        <th scope="col" colspan="2" data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
      <% @missions.each do |mission| %>
        <tr id="mission_<%= mission.id %>">
          <%= render 'row', mission: mission %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
