<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title d-none d-sm-block">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="container col-12 col-md-9 mx-md-auto" id="map-container" data-loaded="false">
  <div class="container mt-5" style="margin-bottom: -160px;"">
    <div class="loader mx-auto invisible" id="printing"></div>
  </div>

  <div id="mapid" class="bg-dark">
  </div>
</div>

<script>
  <%= render partial: 'leaflet-measure-path', formats: [:js] %>
  <%= render partial: 'map', formats: [:js] %>
</script>
