<div class="table-responsive">
  <table id="location_list" class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption><%=  @tool.title %></caption>
    <thead>
      <tr>
        <th scope="col">Nombre (ES)</th>
        <th scope="col">Nombre (EN)</th>
        <th scope="col">Descripcción</th>
        <th scope="col">Etiquetas</th>
        <th scope="col">Tipo</th>
        <th scope="col">Región</th>
        <th scope="col">Señor</th>
        <% if @current_user&.is_master? %>
          <th scope="col" class="text-center sorter-bootstrap-icons">Visible</th>
        <% end %>
        <% if @current_user&.is_admin? %>
          <th scope="col">Partida</th>
        <% end %>
        <th scope="col" colspan="2" data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do | location | %>
        <tr id="location_<%= location.id.to_s %>" class="<%= (location.visible && location.game == active_game) ? nil : 'toggle-visibility inactive d-none'%>">
          <%= render 'row', location: location %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
