<% method = (method || "base" ) %>
<% thing = (thing || nil ) %>

<% flash.each do |message_type, message| %>
  <% if message.class == Hash %>
    <div class="container mt-3 mx-auto text-center alert alert-danger">
      <h2><%= t("messages.error.#{method}", thing: thing) %></h2>
      <ul class="list-unstyled text-left">
      <% message.values.each do |msg| %>
        <% msg.each do |m| %>
          <li><%= m %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div class="container mt-3 mx-auto text-center alert alert-<%= message_type %>" style="">
      <%= message.html_safe %>
    </div>
  <% end %>
<% end %>
